<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Rate the Sneaker !!!</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        
        <div class="cold col-sm-6">
          <h3>Messages</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <p>Shoe Name:<%= messages[i].name %></p>
              <p>Shoe Brand:<%= messages[i].brand %></p>
              <p>Comfort level (0-10):<span><%= messages[i].comfort %></span></p>
              <p>Style Rate (0-10)<span><%= messages[i].rate %></span></p>
              <p>Review:<span><%= messages[i].review %></span></p>
              <p><span><i class="fa fa-trash" aria-hidden="true"></i></span></p>
            </li>
          <% } %>
          </ul>

          <h2>Add a Review</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <div class="thePost">
              <label for="shoeName">Shoe Name</label>
              <input type="text" class="post" id="shoeName" name="name" required>
            </div> 
            <div class="thePost">
              <label for="shoeBrand">Shoe Brand</label>
              <input type="text" class="post" id="shoeBrand" name="brand" required>
            </div> 
            <div class="thePost">
              <label for="comfortLevel">Comfort Level(0-10)</label>
              <input type="text" class="post" id="comfortLevel" name="comfort" required>
            </div> 
            <div class="thePost">
              <label for="styleRate">Style Rate(0-10)</label>
              <input type="text" class="post" id="styleRate" name="rate" required>
            </div> 
            <div class="thePost">
              <label for="shoeReview">Shoe Review</label>
              <input type="text" class="post" id="shoeReview" name="review" required>
            </div> 

            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
